.adminopanel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 5rem;
}
.adminopanel-book{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 30%;
    padding: 3rem;
    box-shadow: 4px 4px 4px rgb(228, 227, 227);
}
.adminopanel-book>input{
    margin: 3px;
    border: none;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
}
.adminopanel-book>button{
    border: none;
    padding: 10px 40px;
    margin: 20px;
    background-color: #CF4E1F;
    color: #fff;
    border-radius: 10px;
}